apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: inst-apm-java
  namespace: opentelemetry-operator-system
spec:
  java:
    image: container-registry.oracle.com/oci_observability_management/oci-apm-java-agent:1.17.0.624
    env:
      - name: OTEL_com_oracle_apm_agent_data_upload_endpoint
        value: "${APM_DATA_UPLOAD_ENDPOINT}"
      - name: OTEL_com_oracle_apm_agent_private_data_key
        valueFrom:
          secretKeyRef:
            name: apm-secret
            key: private-data-key
            namespace: ${K8S_NAMESPACE}
